body
{
    font-family:Calibri;
}

/* Main Container/Content - START */
#main {
	display:block; margin:0 auto; padding: 0;
	background: #fff;
	max-width:1050px;
	min-width:1000px; 
 	width: expression(document.body.clientWidth < 1002? "1000px" : document.body.clientWidth > 1052? "1050px" : "auto");
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 10px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 10px rgba(50, 50, 50, 0.75);
}
/* Main Container/Content - END */

.hsInputStyle
{
    position: relative;
    top: 0;
    right: 0;
    height: 42px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #333333;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.list-heading
{
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;    
    background: #F0F6F9;
    border: 1px solid #346F97;
}

.list-heading a
{
    text-decoration: none;
    float: right;
    margin-right: 5px auto;
}

.list-body
{
    -webkit-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;    
    background: #F0F6F9;
    border: 1px solid #346F97;
}

.all-round-corner
{
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;    
    background: #F0F6F9;
    border: 1px solid #346F97;
}

#tblHeader
{
    background: #d9d9d9 url(../Images/header-bg.png) no-repeat left bottom;
    width:100%;    
    border: 1px solid #346F97;
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

/* Login popup styles START */
#divLogin
{
    z-index:30;    
}

#divLogin button
{
    position: relative;
    top: 0;
    right: 0;
    height: 20px;
    width: 60px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    border-width: 0;
    background-color: #FFFFFF;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}
/* Login popup styles END */

/* Search Box Styles START */

        #search-box {
            position: relative;
            width: 100%;
            margin: 0;
        }

        #search-form {
            height: 40px;
            border: 1px solid #999;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background-color: #fff;
            overflow: hidden;
        }

        #search-text {
            font-size: 14px;
            color: #ddd;
            border-width: 0;
            background: transparent;
        }

        #search-box input[type="text"] {
            width: 90%;
            padding: 11px 0 12px 1em;
            color: #333;
            outline: none;
        }

        #search-button {
            position: absolute;
            top: 0;
            right: 0;
            height: 42px;
            width: 80px;
            font-size: 14px;
            color: #fff;
            text-align: center;
            line-height: 42px;
            border-width: 0;
            background-color: #999;
            -webkit-border-radius: 0px 5px 5px 0px;
            -moz-border-radius: 0px 5px 5px 0px;
            border-radius: 0px 5px 5px 0px;
            cursor: pointer;
        }

/* Search Box Styles END */

/* Sliding Contact Us */

            /*#contactFormContainer
            {
               position:absolute;
               left:800px;
               float:right;
               z-index:50;
               padding-top:5px;
            }*/
            #contactForm
            {
               height:270px;
               width:280px;
               background-image:url('../Images/ContactUs/contact-us-bg.jpg');
               display:none;
            }
            
            #contactForm fieldset
            {
               padding:10px;               
               border:none;
            }      
            #contactForm label
            {
               display:block;
               color:#00BFFF;
            }      
            #contactForm input[type=text]
            {
               display:block;
               border:solid 1px #4d3a24;
               width:100%;
               margin-bottom:10px;
               height:18px;
            }  
            #contactForm textarea
            {
               display:block;
               border:solid 1px #4d3a24;
               width:100%;
               margin-bottom:10px;
            }  
            #contactForm input[type=submit]
            {
               border:solid 1px #23150c;
               background-color: #999;
               color: #fff;
               padding:5px;
               -webkit-border-radius: 5px 5px 5px 5px;
               -webkit-border-radius: 5px 5px 5px 5px;
               border-radius: 5px 5px 5px 5px;  
            }                
            #contactLink
            {
               height:25px;
               width:150px;
               background-image:url('../Images/ContactUs/slidein_button.png');
               display:block;
               cursor:pointer;
               -webkit-border-radius: 0px 0px 5px 5px;
               -webkit-border-radius: 0px 0px 5px 5px;
               border-radius: 0px 0px 5px 5px;               
            }
            #messageSent
            {
               color:#ff9933;
               display:none;
            }
            
/* Sliding ContactUs END */

/* Paging - START */
.paging-1 {list-style-type:none; margin:0; padding:0; display:inline-block;  position:relative; z-index:0}

.paging-1 > li {float:left; border:1px solid #a7cfe1; border-right:0; position:relative;
	background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 47%, #e8e8e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(47%,#ffffff), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 47%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 47%,#e8e8e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 47%,#e8e8e8 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 47%,#e8e8e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

.paging-1 > li > a {display:inline-block; padding:0 8px; height:22px; line-height:22px; font-size:11px; text-decoration:none; color:#555555; text-shadow:1px 1px #fff;}

.paging-1 > li:hover > a, 
.paging-1 > li.on > a {color:#039;}

.paging-1 > li:hover, 
.paging-1 > li.on {
    background: #e1ffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1ffff), color-stop(7%,#e1ffff), color-stop(12%,#e1ffff), color-stop(12%,#fdffff), color-stop(30%,#e6f8fd), color-stop(54%,#c8eefb), color-stop(75%,#bee4f8), color-stop(100%,#b1d8f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* IE10+ */
    background: linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */		
	} 
	
.paging-1 > li.first > a, 
.paging-1 > li.last > a {
	display:block;}

.paging-1 > li.first > a > em, 
.paging-1 > li.last > a > em {width:16px; height:16px; display:inline-block; margin-top:3px;}

.paging-1 > li.first > a > em {background:url(../images/icon-arrow-left.png) no-repeat;}
.paging-1 > li.last > a > em {background:url(../images/icon-arrow-right.png) no-repeat;}

.paging-1 > li.first {border:1px solid #a7cfe1; border-right:0; 
	border-radius:5px 0 0 5px; 
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-radius:5px;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;}
.paging-1 > li.last {border:1px solid #a7cfe1;  
	border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    -webkit-border-radius:0;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;}    

.records-paging {overflow:hidden;}
.records-paging > .records {float:left; font-size:9px; font-weight:bold; color:#000066; line-height:22px;}
.records-paging > .records > b {font-size:15px; color:#F90; padding:0 5px; font-weight:bold}

/* Paging - END */

/* Small Cart - START */
.text-right{text-align:right;}
.text-left{text-align:left;}
.small-cart-links{height : 16px; padding:7px 10px; background-color : #DFDCDC; vertical-align:middle;}
.small-cart-links form a{text-align:left;}
.smallcart-footer-links{text-decoration:none;}
/* Small Cart - END */