body
{
    font-family:Calibri;
}

/* Main Container/Content - START */
#main {
	display:block; margin:0 auto; padding: 0;
	background: #fff;
	max-width:1050px;
	min-width:1000px; 
 	width: expression(document.body.clientWidth < 1002? "1000px" : document.body.clientWidth > 1052? "1050px" : "auto");
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 10px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 10px rgba(50, 50, 50, 0.75);
}
/* Main Container/Content - END */

.hsInputStyle
{
    position: relative;
    top: 0;
    right: 0;
    height: 42px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #333333;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.list-heading
{
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;    
    background: #F0F6F9;
    border: 1px solid #346F97;
}

.list-heading a
{
    text-decoration: none;
    float: right;
    margin-right: 5px auto;
}

.list-body
{
    -webkit-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;    
    background: #F0F6F9;
    border: 1px solid #346F97;
}

.all-round-corner
{
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;    
    background: #F0F6F9;
    border: 1px solid #346F97;
}

#tblHeader
{
    background: #d9d9d9 url(../Images/header-bg.png) no-repeat left bottom;
    width:100%;    
    border: 1px solid #346F97;
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

/* Login popup styles START */
#divLogin
{
    z-index:30;    
}

#divLogin button
{
    position: relative;
    top: 0;
    right: 0;
    height: 20px;
    width: 60px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    border-width: 0;
    background-color: #FFFFFF;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}
/* Login popup styles END */

/* Search Box Styles START */

        #search-box {
            position: relative;
            width: 100%;
            margin: 0;
        }

        #search-form {
            height: 40px;
            border: 1px solid #999;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background-color: #fff;
            overflow: hidden;
        }

        #search-text {
            font-size: 14px;
            color: #ddd;
            border-width: 0;
            background: transparent;
        }

        #search-box input[type="text"] {
            width: 90%;
            padding: 11px 0 12px 1em;
            color: #333;
            outline: none;
        }

        #search-button {
            position: absolute;
            top: 0;
            right: 0;
            height: 42px;
            width: 80px;
            font-size: 14px;
            color: #fff;
            text-align: center;
            line-height: 42px;
            border-width: 0;
            background-color: #999;
            -webkit-border-radius: 0px 5px 5px 0px;
            -moz-border-radius: 0px 5px 5px 0px;
            border-radius: 0px 5px 5px 0px;
            cursor: pointer;
        }

/* Search Box Styles END */

/* Sliding Contact Us */

            /*#contactFormContainer
            {
               position:absolute;
               left:800px;
               float:right;
               z-index:50;
               padding-top:5px;
            }*/
            #contactForm
            {
               height:270px;
               width:280px;
               background-image:url('../Images/ContactUs/contact-us-bg.jpg');
               display:none;
            }
            
            #contactForm fieldset
            {
               padding:10px;               
               border:none;
            }      
            #contactForm label
            {
               display:block;
               color:#00BFFF;
            }      
            #contactForm input[type=text]
            {
               display:block;
               border:solid 1px #4d3a24;
               width:100%;
               margin-bottom:10px;
               height:18px;
            }  
            #contactForm textarea
            {
               display:block;
               border:solid 1px #4d3a24;
               width:100%;
               margin-bottom:10px;
            }  
            #contactForm input[type=submit]
            {
               border:solid 1px #23150c;
               background-color: #999;
               color: #fff;
               padding:5px;
               -webkit-border-radius: 5px 5px 5px 5px;
               -webkit-border-radius: 5px 5px 5px 5px;
               border-radius: 5px 5px 5px 5px;  
            }                
            #contactLink
            {
               height:25px;
               width:150px;
               background-image:url('../Images/ContactUs/slidein_button.png');
               display:block;
               cursor:pointer;
               -webkit-border-radius: 0px 0px 5px 5px;
               -webkit-border-radius: 0px 0px 5px 5px;
               border-radius: 0px 0px 5px 5px;               
            }
            #messageSent
            {
               color:#ff9933;
               display:none;
            }
            
/* Sliding ContactUs END */