<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings file="Settings.config">
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="C:\Chintu\Projects\Home Service\Application\HSG\trunk\HSG.Service\Logs\SyncedLogs.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-2p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTFullBehavior">
          <webHttp/>
        </behavior>
        <behavior name="wsProxyBehavior">
          <remove name="http"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="HSG.Service.Catalog.CatalogService">
        <endpoint address="" binding="webHttpBinding" contract="HSG.Service.Catalog.ICatalogService" behaviorConfiguration="RESTFullBehavior">
        </endpoint>
        <endpoint address="ws" binding="wsHttpBinding" contract="HSG.Service.Catalog.ICatalogService" behaviorConfiguration="wsProxyBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  
</configuration>
